<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/components/slider/slider.css">
    <link rel="stylesheet" href="/src/components/slider/slider.js">
    <link rel="" href="/assets/TGS-logo.png">
    <link rel="" href="/assets/TGS-slider1.jpg">
    <link rel="" href="/assets/TGS-slider2.jpg">
    <link rel="" href="/assets/TGS-slider3.jpg">
    <link rel="" href="/assets/TGS-slider4.jpg">
    <link rel="" href="/assets/TGS-slider5.jpg">
</head>
<body>
    <div class="pt-40" id="carousel-container"> 
        <div class="relative" id="carousel">
          <div class="overflow-hidden w-full" id="carousel-inner">
            <div class="absolute w-full" id="carousel-item">
              <img src="TGS-slider1.jpg" alt="Slider 1">
            </div>
            <div class="absolute w-full" id="carousel-item">
              <img src="TGS-slider2.jpg" alt="Slider 2">
            </div>
            <div class="absolute w-full" id="carousel-item">
              <img src="TGS-slider3.jpg" alt="Slider 3">
            </div>
          </div>
          <button class="absolute left-0 top-1/2 transform -translate-y-1/2" id="carousel-control prev">
            <svg viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M13.293 15.707a1 1 0 0 1-1.414 0L6.293 10l5.414-5.707a1 1 0 0 1 1.414 1.414L9.414 10l3.879 4.293a1 1 0 0 1 0 1.414z" clip-rule="evenodd" />
            </svg>
          </button>
          <button class="absolute right-0 top-1/2 transform -translate-y-1/2" id="carousel-control next">
            <svg viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M6.707 15.707a1 1 0 0 0 1.414 0L13.707 10l-5.586-5.707a1 1 0 0 0-1.414 1.414L10.586 10l-3.879 4.293a1 1 0 0 0 0 1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>     
</body>
</html>