#carousel {
    position: relative;
    overflow: hidden;
  }
  
  #carousel-inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  #carousel-item {
    flex: 0 0 auto;
    width: 100%;
  }
  
  #carousel-item img {
    height: auto;
    width: 100%;
  }
  
  #carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    cursor: pointer;
    height: 40px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 10;
  }
  
  #carousel-control:hover {
    opacity: 1;
  }
  
  #carousel-control.prev {
    left: 0;
  }
  
  #carousel-control.next {
    right: 0;
  }
  
  
  @media (min-width: 400px) {
    #carousel-item {
      flex: 0 0 calc(100% / 2);
    }
    #carousel {
        height: 75px;
    }
  }
  
  @media (min-width: 768px) {
    #carousel-item {
      flex: 0 0 calc(100% / 3);
    }
    #carousel {
        height: auto;
    }
  }